<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
	
    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="css/nivo-lightbox.css" rel="stylesheet" />
	<link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="css/animations.css" rel="stylesheet" />
    <link href="css/careers_style.css" rel="stylesheet">
	<link href="css/careers_responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/sash_cash.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">


	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/nivo-lightbox.min.js"></script>

	<script src="js/custom.js"></script>
	<script src="js/css3-animate-it.js"></script>



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


<!-- Navigation -->
<div id="navigation">
	<nav class="navbar navbar-custom" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="site-logo">
						<a href="index.html" class="brand"><img src="img/logo_payment.png"></a>
					</div>
				</div>
			</div>
		</div>

	</nav>
</div>

<section class="hero" id="top_mage">
	<img src="img/banner_top.png">
</section>




	
    <section id="opportunity" class="home-section color-dark bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-12">
					<div class="animatedParent">
					<div class="section-heading text-center animated bounceInDown">
					<h2 class="h-bold">Looking for your career opportunity?</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container">

		
        <div class="row">
		
		
            <div class="col-lg-12 animatedParent">
				<div class="text-center">
					<p>
					Lorem ipsum dolor sit amet, vis tale malis tacimates et, graece doctus omnesque ne est, deserunt pertinacia ne nam. Pro eu simul affert referrentur, natum mutat erroribus te his
					</p>
					<p>
					Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur. 
					</p>
					<p>
						Ne mundi fabulas corrumpit vim, nulla vivendum conceptam eu nam. Ius ex principes complectitur, ex quo duis suscipit. Ius fastidii reprimique no. Sadipscing appellantur pri ad. Oratio moderatius definitiones cum ex, mea ne brute vivendum percipitur.
					</p>


				</div>
            </div>
		

        </div>		
		</div>

	</section>


	

    <section id="core_values" class="home-section color-dark bg-gray">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-12">
					<div>
					<div class="section-heading text-center">
					<h2 class="h-bold">OUR CORE VALUES</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="text-center">
		<div class="container">

        <div class="row animatedParent">
            <div class="col-md-6">
				<div class="our_core_border">
					<h3>INNOVATION</h3>
					<p>Pursuing new creative ideas that have the</br>
						potential to change the world.</p>
				</div>

            </div>
			<div class="col-md-6">
				<div class="our_core_border">
					<h3>EMPOWERMENT</h3>
					<p>Encouraging the employee to take initiative</br>
						and give the best</p>
				</div>

            </div>
			<div class="col-md-6">
				<div class="our_core_border">
					<h3>INTEGRITY</h3>
					<p>Acting width honesty and honor without</br>
						compromising the truth</p>
				</div>

            </div>

			<div class="col-md-6">
				<div class="our_core_border">
					<h3>ACCOUNTABILITY</h3>
					<p>Acknowledging & assuming responsibility for</br>
						actions,products,decisions & policies</p>
				</div>

			</div>

        </div>		
		</div>
		</div>


		<div class="container marginbot-50 ">
			<div class="row">
				<div class="col-lg-12">
					<div>
						<div class="section-heading text-center">
							<h2 class="h-bold">EXPECTED</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>

		</div>




		<div class="text-center expected_div">
			<div class="container">

				<div class="row animatedParent">
					<div class="col-md-2">
						<img src="img/round1.png">
						<P>TEAM WORK</P>

					</div>
					<div class="col-md-2">
						<img src="img/round2.png">
						<P>SMART WORKER</P>


					</div>
					<div class="col-md-2">
						<img src="img/round3.png">
						<P>ENERGETIC</P>


					</div>

					<div class="col-md-2">
						<img src="img/round4.png">
						<P>PROFICIENCY</P>


					</div>

					<div class="col-md-2">
						<img src="img/round5.png">
						<P>LEARNER</P>


					</div>

				</div>

				<h2 class="send_resume">Send your resume at</h2>
				<p class="send_mail_id"><a href="#">careers@sach.cash</a> </p>

			</div>
		</div>



	</section>

    <section id="current_opening" class="home-section color-dark text-center bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<div class="animatedParent">
					<div class="section-heading text-center">
					<h2 class="h-bold animated bounceInDown">CURRENT OPENINGS</h2>
					<div class="divider-header"></div>
					</div>
					</div>
					</div>
				</div>
			</div>

		</div>



            <div class="row animatedParent">
				<div class="cereers_tab_menu">
				<div class="container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#admin">ADMIN </a></li>
					<li><a data-toggle="tab" href="#hr">HR</a></li>
					<li><a data-toggle="tab" href="#developer">DEVELOPER</a></li>
					<li><a data-toggle="tab" href="#bce">BDE(MARKETING)</a></li>
					<li><a data-toggle="tab" href="#support">SUPPORT</a></li>
				</ul>
			  </div>
				</div>



				<div class="container">
				<div class="tab-content">
					<div id="admin" class="tab-pane fade in active">
						<ul>
						<li><a data-toggle="modal" data-target="#reception">RECEPTIONIST</a>
							<!--<span class="tooltiptext1">Tooltip text</span>--></li>

						<li><a class="tooltip1" data-toggle="modal" data-target="#sys_admin">SYSTEM ADMINISTRATOR
						<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>

						</ul>



					</div>
					<div id="hr" class="tab-pane fade">
						<ul>

							<li><a data-toggle="modal" data-target="#hr_Recruiter">HR-Recruiter</a></li>

							<li><a class="tooltip1" data-toggle="modal" data-target="#hr_Generalist">HR-Generalist
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>
							<li><a class="tooltip1" data-toggle="modal" data-target="#cum_Generalist">HR-Recruiter cum Generalist
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>

						</ul>

					</div>
					<div id="developer" class="tab-pane fade">

						<ul>

							<li>Project Manager</li>
							<li>Technical Head</li>
							<li><a data-toggle="modal" data-target="#Mean_Stack">Mean Stack Developer</a>
								<!--<span class="tooltiptext1">Tooltip text</span>--></li>

							<li><a class="tooltip1" data-toggle="modal" data-target="#ios_developer">IOS Developer
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>
							<li><a class="tooltip1" data-toggle="modal" data-target="#android_developer">Android Developer
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>

							<li><a class="tooltip1" data-toggle="modal" data-target="#ui_developer">UI Developer with angular JS
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>

							<li>Network Engineer</li>
							<li>Tester(Manual Tester, Automatic Tester, Performance Tester)</li>

							<li><a class="tooltip1" data-toggle="modal" data-target="#graphic_developer">Graphic Designer(UX/UI Designer)
								<!--<span class="tooltiptext1">Tooltip text</span>--></a></li>


						</ul>



					</div>
					<div id="bce" class="tab-pane fade">

						<li>Corporate Sale</li>
						<li>Media Buying</li>
						<li>Ad Network</li>

					</div>
					<div id="support" class="tab-pane fade">

						<li>Technical Support</li>
						<li>Customer Support</li>


					</div>
				</div>
					</div>

            </div>	


	</section>

<footer>
	<div class="footer_container">
		<div class="row">

			<div class="col-md-8 text-left footer_menu_list">
				<ul class="footer-menu_one">


					<li><a href="privacypolicy.html" target="_blank">Privacy Policy</a></li>


					<li><a href="terms&conditions.html" target="_blank">Terms & Conditions</a></li>


				</ul>
			</div>
			<div class="col-md-4 text-right copyright">

				<div class="col-md-12 copyright_img">
					<a href="https://play.google.com/store/apps/details?id=com.sashcash.user"target="_blank"><img src="images/img_play_store_icon.png" alt="google play store"></a>
					<a href="https://sash.cash/user/#/login" target="_blank"><img src="images/img_web_login.png" alt="web login"> </a>
					<a href="https://itunes.apple.com/in/app/sash.cash/id1142168435?mt=8" target="_blank"><img src="images/img_app_store.png" alt="app store"></a>


				</div>


			</div>
			<div class="col-md-12 social_media social_media_div">


				<!--<span class="soci_title">Follow Us:</span>-->
				<span class="sici_icon"><a href="https://www.facebook.com/sashdigitaladvertisement/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
				<span class="sici_icon"><a href="https://twitter.com/sashdigitalads" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
				<span class="sici_icon"><a href="https://www.linkedin.com/company/sash.cash?trk=nav_account_sub_nav_company_admin" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></span>

				<span class="sici_icon"><a href="https://in.pinterest.com/sashdigitalads/" target="_blank"> <i class="fa fa-pinterest" aria-hidden="true"></i></a></span>
				<span class="sici_icon"><a href="https://plus.google.com/u/0/102435496296429860392" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></span>




			</div>
			<div class="col-md-12 copy_right_bottom">
				<a href="#"> Copyright &#169;
					2017 Sash Digital Advertisement Private Limited. All Rights Reserved.</a>
			</div>
		</div>
	</div>
</footer>

<!-- reception-Modal -->
<div class="modal fade" id="reception" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!-- sys_admin-Modal -->
<div class="modal fade" id="sys_admin" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<!-- hr_Recruiter-Modal -->
<div class="modal fade" id="hr_Recruiter" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<!-- hr_Generalist-Modal -->
<div class="modal fade" id="hr_Generalist" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

<!-- cum_Generalist-Modal -->
<div class="modal fade" id="cum_Generalist" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>



<!-- ios_developer-Modal -->
<div class="modal fade" id="ios_developer" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>



<!-- android_developer-Modal -->
<div class="modal fade" id="android_developer" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


<!-- ui_developer-Modal -->
<div class="modal fade" id="ui_developer" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>



<!-- graphic_developer-Modal -->
<div class="modal fade" id="graphic_developer" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<p>Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

</body>

</html>
