<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Advertising Company | Mobile Ad Network | Earn Money Online | sash.cash</title>
	<meta name="google-site-verification" content="fyWj-2Cca4PLJJj3r6Z2iHfRPHdVZcgTzDbipgXIx48" />
	<meta name="description" content="India first incentive based mobile advertisement network, we a digital advertising agency ready to challenge all traditional forms of advertisement."/>
	<meta name="keywords" content="Advertising in Chennai, Ad Agency in Chennai, Low Cost Advertising, Pocket Money App, Trending Advertisements, Media Agency."/>

	
    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="css/nivo-lightbox.css" rel="stylesheet" />
	<link href="css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
	<link href="css/animate.css" rel="stylesheet" />
	<link href="css/responsive.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
	<link href="css/sash_cash.css" rel="stylesheet">
	<link href="color/default.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>

	<script>
		$(".sonar-wave").on("webkitAnimationIteration oanimationiteration animationiteration", function(){
			$(this).css("background-color", colorize());
		})

		function colorize() {
			var hue = Math.random() * 360;
			return "HSL(" + hue + ",100%,50%)";
		}

	</script>


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


<section class="hero" id="intro">
	<img src="../landing_Page/img/top_banner.jpg" class="mobile_banner" style="display: none">

	<div class="container desktop_div">
	<!--<img src="../landing_Page/img/top_banner.png">-->

	<div class="col-md-6 img_section3">
		<img id="banner10" class="wow fadeIn" class="revealOnScroll" data-animation="fadeInUp" src="../landing_Page/img/img - 3 (3).png" data-wow-duration="0.5s" data-wow-delay="2.0s">
		<img id="banner9" class="wow fadeIn" src="../landing_Page/img/img - 3 (2).png" data-wow-duration="0.5s" data-wow-delay="1.8s">
		<img id="banner8" class="wow fadeIn" class="wow fadeIn" src="../landing_Page/img/img - 3 (1).png" data-wow-duration="0.5s" data-wow-delay="1.6s">
		<img id="banner7" class="wow fadeIn" src="../landing_Page/img/img - 3.png" data-wow-duration="0.5s" data-wow-delay="1.4s">
		</div>
	<div class="col-md-6 img_section5">

		<img id="banner37" class="wow fadeIn" src="../landing_Page/img/img - 29.png" data-wow-duration=".5s" data-wow-delay="4.2s">
		<img id="banner38" class="wow fadeIn" src="../landing_Page/img/img - 30.png" data-wow-duration="0.5s" data-wow-delay="4.4s">
		<img id="banner39" class="wow fadeIn" src="../landing_Page/img/img - 31.png" data-wow-duration="0.5s" data-wow-delay="4.8s">
		<img id="banner40" class="wow fadeIn" src="../landing_Page/img/img - 32.png" data-wow-duration="0.5s" data-wow-delay="5.0s">

	</div>
	<div class="col-md-6 img_section1">
		<img id="banner20" class="wow fadeIn" src="../landing_Page/img/img - 12 - i.png" data-wow-duration="0.5s" data-wow-delay="4.0s">
		<img id="banner19" class="wow fadeIn" src="../landing_Page/img/img - 12.png" data-wow-duration="0.5s" data-wow-delay="3.8s">
		<img id="banner18" class="wow fadeIn" src="../landing_Page/img/img - 11.png" data-wow-duration="0.5s" data-wow-delay="3.6s">
		<img id="banner17" class="wow fadeIn" src="../landing_Page/img/img - 10.png" data-wow-duration="0.5s" data-wow-delay="3.4s">
		<img id="banner16" class="wow fadeIn" src="../landing_Page/img/img - 9.png" data-wow-duration="0.5s" data-wow-delay="3.2s">
		<img id="banner15" class="wow fadeIn" src="../landing_Page/img/img 8.png" data-wow-duration="0.5s" data-wow-delay="3.0s">
		<img id="banner14" class="wow fadeIn" src="../landing_Page/img/img - 7.png" data-wow-duration="0.5s" data-wow-delay="2.8s">
		<img id="banner13" class="wow fadeIn" src="../landing_Page/img/img - 6.png" data-wow-duration="0.5s" data-wow-delay="2.6s">

		<img id="banner1" class="wow fadeIn" src="../landing_Page/img/img- 1.png" data-wow-duration="0.5s" data-wow-delay="0.2s">
	</div>
	<div class="col-md-6 img_section2">
		<img id="banner11" class="wow fadeIn" src="../landing_Page/img/img - 5.png"  data-wow-duration="0.5s" data-wow-delay="2.2s">
		<img id="banner12" class="wow fadeIn" src="../landing_Page/img/img - 4.png" data-wow-duration="0.5s" data-wow-delay="2.4s">

		<img id="banner6" class="wow fadeIn" src="../landing_Page/img/img - 2 -  a  (3).png" data-wow-duration="0.5s" data-wow-delay="1.2s">
		<img id="banner5" class="wow fadeIn" src="../landing_Page/img/img - 2 -  a  (2).png" data-wow-duration="0.5s" data-wow-delay="1.0s">
		<img id="banner4" class="wow fadeIn" src="../landing_Page/img/img - 2 -  a  (1).png" data-wow-duration="0.5s" data-wow-delay="0.8s">
		<img id="banner2" class="wow fadeIn" src="../landing_Page/img/img - 2 - I.png" data-wow-duration="0.5s" data-wow-delay="0.4s">
		<img id="banner3" class="wow fadeIn" src="../landing_Page/img/img - 2 - II.png" data-wow-duration="0.5s" data-wow-delay="0.6s">

	</div>
	<div class="col-md-6 img_section4">
		<img id="banner21" class="wow fadeIn" src="../landing_Page/img/img - 13.png" data-wow-duration="0.5s" data-wow-delay="4.2s">
		<img id="banner22" class="wow fadeIn" src="../landing_Page/img/img - 14.png" data-wow-duration="0.5s" data-wow-delay="4.4s">
		<img id="banner23" class="wow fadeIn" src="../landing_Page/img/img - 15.png" data-wow-duration="0.5s" data-wow-delay="4.6s">
		<img id="banner24" class="wow fadeIn" src="../landing_Page/img/img - 16.png" data-wow-duration="0.5s" data-wow-delay="4.8s">
		<img id="banner25" class="wow fadeIn" src="../landing_Page/img/img - 17.png" data-wow-duration="0.5s" data-wow-delay="5.0s">
		<img id="banner26" class="wow fadeIn" src="../landing_Page/img/img - 18.png" data-wow-duration="0.5s" data-wow-delay="5.2s">
		<img id="banner27" class="wow fadeIn" src="../landing_Page/img/img - 19.png" data-wow-duration="0.5s" data-wow-delay="5.4s">
		<img id="banner28" class="wow fadeIn" src="../landing_Page/img/img - 20.png" data-wow-duration="0.5s" data-wow-delay="5.6s">
		<img id="banner29" class="wow fadeIn" src="../landing_Page/img/img - 21.png" data-wow-duration="0.5s" data-wow-delay="5.8s">
		<img id="banner30" class="wow fadeIn" src="../landing_Page/img/img - 22.png" data-wow-duration="0.5s" data-wow-delay="6.0s">
		<img id="banner31" class="wow fadeIn" src="../landing_Page/img/img - 23.png" data-wow-duration="0.5s" data-wow-delay="6.2s">
		<img id="banner32" class="wow fadeIn" src="../landing_Page/img/img - 24.png" data-wow-duration="0.5s" data-wow-delay="6.2s">
		<img id="banner33" class="wow fadeIn" src="../landing_Page/img/img - 25.png" data-wow-duration="0.5s" data-wow-delay="6.2s">
		<img id="banner34" class="wow fadeIn" src="../landing_Page/img/img - 26.png" data-wow-duration="0.5s" data-wow-delay="6.2s">
		<img id="banner35" class="wow fadeIn" src="../landing_Page/img/img - 27.png" data-wow-duration="0.5s" data-wow-delay="6.2s">
		<img id="banner36" class="wow fadeIn" src="../landing_Page/img/img - 28.png" data-wow-duration="0.5s" data-wow-delay="6.2s">


	</div>

	</div>
<div class="arrows"><a href="#about_us" title="To Top">
	<img src="../landing_Page/img/arrows.png">
	</a>


</div>

</section>

<!-- Navigation -->
<div id="navigation">
	<nav class="navbar navbar-custom" role="navigation">

			<div class="row">
				<div class="col-md-12">


					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
							<i class="fa fa-bars"></i> Menu
						</button>
					</div>

					<div class="collapse navbar-collapse" id="menu">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#intro">Home</a></li>
							<li><a href="#about_us">About Us</a></li>
							<li><a href="#whysash">Why Sash.Cash</a></li>
							<li><a href="#howwedo">How We Do</a></li>
							<li><a href="#partners">Partners</a></li>
							<li><a href="#contact">Contact Us</a></li>
							<li><a data-toggle="modal" data-target="#login">Login</a></li>
							<li><a href="careers.html">Careers</a></li>
							<!--<li><a href="#">News</a></li>-->
						</ul>
					</div>


				</div>
			</div>

	</nav>
</div>



<section id="about_us" class="color-dark bg-white">

	
    <div id="about" class="home-section color-dark bg-white">
		<div class="about_us_map">
		<div class="sub_container">
		<div class="marginbot-50">
			<div class="row">
				<div class="col-lg-12">
					<div class="animatedParent">
					<div class="section-heading text-center wow bounceIn">
					<h2 class="h-bold">ABOUT US</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="sub_container">

		
        <div class="row">
		
		
            <div class="col-lg-12 animatedParent">
				<div class="text-left">
					<p>
						Sash.Cash-A Pocket Money App, A digital media platform to push advertisements

						at effective cost from the other medium. We resolve the pain of the advertiser by

						providing accuracy, reach and certainty and create an opportunity for the brand

						to post ad for massive reach with efficiency.</p>

					<p>Sash.Cash  positions itself  as a market leader in the ecosystem of advertising platform, acting as a bridge to bind both the user and the brand. We reward the user for viewing each ad and enable them to avail recharge and transfer money  from the user wallet.</p>

					<p>Sash.Cash a very ambitious company has two key mantras for its successful functioning. We have created a new revolution in the field of advertisement whereby we diversify ourselves into the panoramic categories like video ads, audio ads, poster ads, app downloads, open link facilities divulging from the traditional ways of advertising.</p>

					<p>Being a single podium for all kind of advertisements  and making the users earn, Sash.Cash stands unique and makes difference from the traditional ways of advertising. </p>

				</div>
            </div>

			<div class="section-subtitle col-lg-6 animatedParent">

				<h4 class="h-bold text-center">Vision</h4>
				<div class="divider-header"></div>

				<div class="text-center">
					<p>
						"To be the organization of Choice & recognized as a Leader in digital advertising driven by commitment, creativity and composure."
					</p>
				</div>
			</div>

			<div class="section-subtitle col-lg-6 animatedParent">

				<h4 class="h-bold text-center">Mission</h4>
				<div class="divider-header"></div>

				<div class="text-center">
					<p>
						"To promote and get promoted gobally"
					</p>
				</div>
			</div>
		

        </div>
			</div>
		</div>
	</div>
       </div>
		<div id="adv_user">



			<div class="row animatedParent">
				<div class="col-lg-6 text-center">

            <div class="advertiser_map">

					<div class="sonar-wrapper">
						<div class="sonar-emitter">
							<a href="advertiserwebsite.html"><i class="fa fa-bullhorn hovicon " aria-hidden="true"></i></a>
							<div class="sonar-wave"></div>
						</div>
					</div>

					<div class="section-heading text-center wow bounceInLeft">
						<a href="advtisersite.html"><h1 class="text-center">Advertiser</h1></a>
					</div>
			</div>
				</div>
				<div class="col-lg-6 text-center">
					<div class="user_map">

					<div class="sonar-wrapper">

						<div class="sonar-emitter">
							<a href="user.html"><i class="fa fa-user hovicon " aria-hidden="true"></i></a>
							<div class="sonar-wave"></div>
						</div>
					</div>


					<div class="section-heading text-center wow bounceInRight">
						<a href="user.html"><h1 class="text-center">User</h1></a>
					</div>
						</div>
				</div>



			</div>


		</div>


	</section>






    <section id="whysash" class="home-section color-dark bg-gray">

		<img src="../landing_Page/img/why.jpg" class="mobile_banner" style="display: none">
		<div class="desktop_div">

		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-12">
					<div class="animatedParent">
						<div class="section-heading text-center wow bounceIn">
							<h2 class="h-bold">WHY SASH.CASH</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
<div class="why_banner">



	<div class="why_banner_container ">

	<div class="col-lg-4">
		<div class="animatedParent">
			<img class="wow bounceIn" id="banner42" src="../landing_Page/img/img_why_poster.png">
		</div>
			<div class="animatedParent">
				<img class="wow bounceIn" id="banner43" src="../landing_Page/img/img_why_app_download.png">

			</div>


		<div class="animatedParent">
			<h2 id="mobile_img_title1" class="wow fadeIn">Massive Reach</h2>
		</div>
		<div class="animatedParent">
			<h2 id="mobile_img_title2" class="wow fadeIn">Brand Awareness</h2>
		</div>
		<div class="animatedParent">
			<h2 id="mobile_img_title3" class="wow fadeIn">Self - Host campaign</h2>
		</div>
		<div class="animatedParent">
			<h2 id="mobile_img_title4" class="wow fadeIn">Accurate Audience</h2>
		</div>

		</div>


	<div class="mobile_img_why col-lg-4">

		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border1" src="../landing_Page/img/img_why_left_line_1.png">
		</div>
		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border2" src="../landing_Page/img/img_why_left_line_2.png">
		</div>
		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border3" src="../landing_Page/img/img_why_left_line_3.png">
		</div>
		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border4" src="../landing_Page/img/img_why_left_line_4.png">
		</div>


		<div class="animatedParent">
			<img class="wow bounceIn" id="banner41" src="../landing_Page/img/img_why_device.png">

		</div>




	</div>



	<div class="col-lg-4">

		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border5" src="../landing_Page/img/img_why_right_line_1.png">
		</div>
		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border6" src="../landing_Page/img/img_why_right_line_2.png">
		</div>
		<div class="animatedParent">
			<img class="wow fadeIn" id="why_border7" src="../landing_Page/img/img_why_right_line_3.png">
		</div>


		<div class="animatedParent">
			<h2 id="mobile_img_title5" class="wow fadeIn">Control & Transparency</h2>
		</div>
		<div class="animatedParent">
			<h2 id="mobile_img_title6" class="wow fadeIn">Analytical Report</h2>
		</div>
		<div class="animatedParent">
			<h2 id="mobile_img_title7" class="wow fadeIn">Performance Monitoring</h2>
		</div>



		<div class="animatedParent">
			<img class="wow bounceIn"  id="banner44" src="../landing_Page/img/img_why_video.png">
		</div>
		<div class="animatedParent">
			<img class="wow bounceIn"  id="banner45" src="../landing_Page/img/img_why_audio.png">
		</div>
		<div class="animatedParent">
			<img class="wow bounceIn"  id="banner46" src="../landing_Page/img/img_why_link.png">
		</div>


	</div>


</div>
</div>

		</div>


	</section>


    <section id="howwedo" class="home-section color-dark text-center bg-white">

		<img src="../landing_Page/img/how.jpg" class="mobile_banner" style="display: none">
		<div class="desktop_div">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-12">
					<div class="animatedParent">
						<div class="section-heading text-center wow bounceIn">
							<h2 class="h-bold">How We Do</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="how_we_do">

			<div class="how_we_do_container">

			<img id="howwe_icon1" class="wow fadeIn revealOnScroll" src="../landing_Page/img/img_how_we_do_start.png" data-wow-duration="1s" data-wow-delay="0.3s">
			<img id="howwe_icon1_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_device_line.png" data-wow-duration="1s" data-wow-delay="0.1s">
			<p id="howwe_icon1_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">Start</p>

			<img id="howwe_icon2" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_device-1.png" data-wow-duration="1s" data-wow-delay="0.6s">
				<img id="howwe_icon2_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_circle_device.png" data-wow-duration="1s" data-wow-delay="0.4s">
				<p id="howwe_icon2_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">Target Device</p>

			<img id="howwe_icon3"  class="wow fadeIn" src="../landing_Page/img/img_how_we_do_location-1.png" data-wow-duration="1s" data-wow-delay="1.2s">
				<img id="howwe_icon3_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_circle_location.png"  data-wow-duration="1s" data-wow-delay="1.0s">
				<p id="howwe_icon3_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">Location</p>


				<img id="howwe_icon4" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_demographic.png" data-wow-duration="1s" data-wow-delay="1.8s">
				<img id="howwe_icon4_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_circle_target_audience.png" data-wow-duration="1s" data-wow-delay="1.6s">
				<p id="howwe_icon4_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">Target Audience</p>


			<img id="howwe_icon5" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_validation.png" data-wow-duration="1s" data-wow-delay="2.4s">
				<img id="howwe_icon5_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_circle_validation.png" data-wow-duration="1s" data-wow-delay="2.0s">
				<p id="howwe_icon5_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="2.2s">Validation</p>

			<img id="howwe_icon6" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_start_launch.png"  data-wow-duration="1s" data-wow-delay="2.8s">
				<img id="howwe_icon6_line" class="wow fadeIn"  src="../landing_Page/img/img_how_we_do_circle_launch_report.png"  data-wow-duration="1s" data-wow-delay="2.6s">
				<p id="howwe_icon6_title" class="wow fadeIn"   data-wow-duration="1s" data-wow-delay="2.7s">Launch</p>

			<img id="howwe_icon7" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_report.png" data-wow-duration="1s" data-wow-delay="4.2s">
				<img id="howwe_icon7a_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_circle_launch_report.png" data-wow-duration="1s" data-wow-delay="4.0s">
				<img id="howwe_icon7_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_device_line.png" data-wow-duration="1s" data-wow-delay="4.1s">
				<p id="howwe_icon7_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="4.4s">Report</p>




			<div class="how_mobile_div">

				<img id="howwe_icon_line" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_location_line.png" data-wow-duration="1s" data-wow-delay="1.4s">

				<p id="howwe_icon_line_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">Target Location </p>

				<!--<p id="campain_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="2s" > <i class="fa fa-upload" aria-hidden="true"></i>Uplaod Your Campaign</p>-->
				<img id="howwe_icon9" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_device.png" data-wow-duration="1s" data-wow-delay="0.7s">
				<img id="howwe_icon10" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_location.png" data-wow-duration="1s" data-wow-delay="1.3s">
				<img id="howwe_icon11" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_audience.png" data-wow-duration="1s" data-wow-delay="1.9s">
				<!--<img id="howwe_icon1_v" class="wow fadeIn" src="../landing_Page/img/validation.png" data-wow-duration="1s" data-wow-delay="12s">-->


				<img id="howwe_icon12" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_poster_ad.png" data-wow-duration="1s" data-wow-delay="2.9s">
				<img id="howwe_icon13" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_video_ad.png" data-wow-duration="1s" data-wow-delay="3.0s">
				<img id="howwe_icon14" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_open_link.png" data-wow-duration="1s" data-wow-delay="3.1s">
				<img id="howwe_icon15" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_poster_ad.png" data-wow-duration="1s" data-wow-delay="3.2s">
				<img id="howwe_icon16" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_video_ad.png" data-wow-duration="1s" data-wow-delay="3.3s">
				<img id="howwe_icon17" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_open_link.png" data-wow-duration="1s" data-wow-delay="3.4s">

				<img id="howwe_icon18" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_poster_ad.png" data-wow-duration="1s" data-wow-delay="3.5s">
				<img id="howwe_icon19" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_video_ad.png" data-wow-duration="1s" data-wow-delay="3.6s">
				<img id="howwe_icon20" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_open_link.png" data-wow-duration="1s" data-wow-delay="3.7s">
				<img id="howwe_icon21"  class="wow bounceIn" src="../landing_Page/img/img_how_we_do_poster_ad.png" data-wow-duration="1s" data-wow-delay="3.8s">
				<img id="howwe_icon22" class="wow bounceIn" src="../landing_Page/img/img_how_we_do_video_ad.png" data-wow-duration="1s" data-wow-delay="3.9s">

				<img id="howwe_icon_line2" class="wow fadeIn" src="../landing_Page/img/img_how_we_do_device_line.png" data-wow-duration="1s" data-wow-delay="0.8s">
				<p id="howwe_icon_line2_title" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">Device </p>

			</div>
			</div>

		</div>
		</div>
	</section>




<section id="partners" class="home-section color-dark text-center bg-white">
	<div class="container marginbot-50">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div>
					<div class="animatedParent">
						<div class="section-heading text-center">
							<h2 class="h-bold wow bounceIn">Partners</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="container">

		<div class="row animatedParent">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="../landing_Page/img/parteners.png">
					</div>

					<div class="item">
						<img src="../landing_Page/img/queen.png" alt="Chania">
					</div>

				</div>
			</div>
		</div>
	</div>

</section>





    <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
		<div class="sub_container_contact marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
					<div class="section-heading text-center">
					<h2 class="h-bold wow bounceIn">Contact Us</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="sub_container_contact">

			<div class="row">
				<div class="col-md-6">
				    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
						<form id="contact-form" action="" method="post" role="form" class="contactForm">
    						<div class="row">
    							<div class="col-md-6">
    							    <div class="form-group">
        								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
    							</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="name" class="form-control" id="phone" placeholder="Phone no" />
										<div class="validation"></div>
									</div>
								</div>
    							<div class="col-md-12">
    							    <div class="form-group">
        								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
    							    </div>
    							</div>
								<div class="col-md-12">
									<div class="form-group">
										<select class="form-control" name="Subject" id="Subject" placeholder="Subject" >
										<option>General Enquiry </option>
										<option>New Business</option>
										<option>Complaints</option>
										<option>Other</option></select>
										<div class="validation"></div>
									</div>
								</div>
    						</div>
    						<div class="row">
    							<div class="col-md-12">
    								<div class="form-group">
    									<textarea class="textarea" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
    								</div>						
    								<button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
    									Send Message</button>
    							</div>
    						</div>
						</form>
				</div>

				<div class="col-md-6 contact_right">
					<div class="row">
					<div class="col-md-8 text-left">
						<h2 class="contact_right_title"><i class="fa fa-envelope" aria-hidden="true"></i>
							 Email Us</h2>
						<ul>
							<li><a href="mailto:info@sash.cash">info@sash.cash</a> </li>
						</ul>

						</div>
					</div>
				</div>
			</div>	


		</div>
	</section>
	


	<footer>
		<div class="footer_container">
			<div class="row">

					<div class="col-md-8 text-left footer_menu_list">
					<ul class="footer-menu_one">

						<li><a href="#intro">Home</a></li>

						<li><a href="#about_us">About Us</a></li>

						<li><a href="privacypolicy.html" target="_blank">Privacy Policy</a></li>


						<li><a href="terms&conditions.html" target="_blank">Terms & Conditions</a></li>

						<li><a href="#contact">Contact Us</a></li>

					</ul>
					</div>
				<div class="col-md-4 text-right copyright">

					<div class="col-md-12 copyright_img">
						<a href="https://play.google.com/store/apps/details?id=com.sashcash.user"target="_blank"><img src="img/img_play_store_icon.png" alt="google play store"></a>
						<a href="https://sash.cash/user/#/login" target="_blank"><img src="img/img_web_login.png" alt="web login"> </a>
						<a href="https://itunes.apple.com/in/app/sash.cash/id1142168435?mt=8" target="_blank"><img src="img/img_app_store.png" alt="app store"></a>


					</div>


					</div>
				<div class="col-md-12 social_media social_media_div">


					<!--<span class="soci_title">Follow Us:</span>-->
					<span class="sici_icon"><a href="https://www.facebook.com/sashdigitaladvertisement/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
					<span class="sici_icon"><a href="https://twitter.com/sashdigitalads" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
					<span class="sici_icon"><a href="https://www.linkedin.com/company/sash.cash?trk=nav_account_sub_nav_company_admin" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></span>

					<span class="sici_icon"><a href="https://in.pinterest.com/sashdigitalads/" target="_blank"> <i class="fa fa-pinterest" aria-hidden="true"></i></a></span>
					<span class="sici_icon"><a href="https://plus.google.com/u/0/102435496296429860392" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></span>




				</div>
				<div class="col-md-12 copy_right_bottom">
					<a href="#"> Copyrights&#169;
						2017 Sash Digital Advertisement Private Limited. All Rights Reserved.</a>
				</div>
				</div>
			</div>
	</footer>


<!--<script src="js/wow.js"></script>-->

  
    <script src="js/jquery.min.js"></script>	 
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.easing.min.js"></script>	
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/nivo-lightbox.min.js"></script>

	
    <script src="js/custom.js"></script>
	<script src="js/css3-animate-it.js"></script>
    <!--<script src="contactform/contactform.js"></script>-->


<script>
	$(document).ready(function(){
		// Add smooth scrolling to all links in navbar + footer link
		$(".arrows a[href='#aubout_section']").on('click', function(event) {
			// Make sure this.hash has a value before overriding default behavior
			if (this.hash !== "") {
				// Prevent default anchor click behavior
				event.preventDefault();

				// Store hash
				var hash = this.hash;

				// Using jQuery's animate() method to add smooth page scroll
				// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 700, function(){

					// Add hash (#) to URL when done scrolling (default click behavior)
					window.location.hash = hash;
				});
			} // End if
		});

		$(window).scroll(function() {
			$(".slideanim").each(function(){
				var pos = $(this).offset().top;

				var winTop = $(window).scrollTop();
				if (pos < winTop + 600) {
					$(this).addClass("slide");
				}
			});
		});
	})
</script>


<!--<script>-->
	<!--$(document).ready(function() {-->


	<!--var hidden = false;-->

	<!--setTimeout(function(){-->
		<!--document.getElementById("campain_title").style.visibility= hidden ? "visible" : "hidden";-->
		<!--hidden = !hidden;-->
	<!--},4000);-->

	<!--setTimeout(function(){-->
		<!--$('#howwe_icon1_v').hide()-->
	<!--},14000);-->

	<!--})-->
<!--</script>-->



</body>

</html>
<style>
	@media (max-width: 991px) {
		section#howwedo {
			background: none !important;
			padding: 44px 0px !important;
		}
		section#contact {
			height: 750px !important;
		}
		section#whysash {

			padding: 38px 0px !important;
		}
		.contact_right .col-md-8 {
			float: right;
			padding: 38px 0px!important;
		}

	}



	@media (max-width: 767px) {

		section#howwedo {
			background: none !important;
			padding: 0px 0px !important;
		}

		section#contact {
			height: 750px !important;
		}
		section#whysash {

			padding: 38px 0px !important;
		}
		.contact_right .col-md-8 {
			float: right;
			padding: 38px 0px!important;
		}
	}

	@media (min-width: 992px)  and (max-width: 1279px){
		section#whysash {
			padding: 60px 0px !important;
		}
		section#howwedo
		{
			padding: 65px 0px !important;
		}


	}

	@media (min-width: 1280px)  and (max-width: 1300px) {

		section#whysash {
			padding: 78px 0px !important;
		}
		.arrows {
			width: 100%;
			text-align: center;
			margin-top: 50px!important;
		}
		#intro {
			height: 878px;
			padding: 95px 0px !important;
		}
	}
</style>

<!-- graphic_developer-Modal -->
<div class="modal fade" id="login" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="col-md-6">
					<a class="user_login" href="http://test.sash.cash:4000/user/#/login" target="_blank">Login as User</a>
					</div>
				<div class="col-md-6">
					<a class="adver_login" href="http://test.sash.cash:8000/" target="_blank">Login as Advertiser</a>
					</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>