<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="description" content="Watch and listen ads, Download apps to earn recharge daily for Mobile and DTH.">
	<meta name="keywords" content="Free top up, Free Cash, Pocket wallet, Easy Cash, Online free recharge, Free Money">
	<meta name="google-site-verification" content="fyWj-2Cca4PLJJj3r6Z2iHfRPHdVZcgTzDbipgXIx48" />
	<title> Earn Free Recharge, DTH Recharge, Free recharge App, Free Mobile Recharge </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="user_css/animations.css" rel="stylesheet" />
    <link href="user_css/style.css" rel="stylesheet">
	<link href="user_css/scmain.css" rel="stylesheet" />
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="user_css/user-responsive.css" rel="stylesheet" type="text/css"/>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
	<section class="hero" id="intro">

		<img class="abc1" class="img-responsive" src="images/home_1.jpg" alt="home" style="display: none;">

		<div class="sc-top-section abc">
		<div class="container">
				<div class="row">
					<div class="col-md-4 sc-icon1 animatedParent">
						<div class="sc-left-menu">
							<img class="animated bounceInUp slow sc-img-icon0" src="images/img_icon_3.png" alt="mobile">
							<img class="sc-img-icon1 animated bounceInUp slower" src="images/img_icon_1.png" alt="mobile">
							<img class="sc-img-icon2 animated bounceInUp slowest" src="images/img_icon_2.png" alt="mobile">
						</div>
					</div>

					<div class="col-md-4 sc-icon1">
						<div class="sc-mobile">
							<div class="sc-logo">

								<div class="sc-main-logo">
									<div class="row">
									<div class="col-md-4 animatedParent">
										<img class="" src="images/img_home_logo.png"  alt="homelogo">
									</div>
									</div>
								</div>

                               <div class="sc-text-logo">
								<div class="row">
									<div class="col-md-4 animatedParent">
										<img class="" src="images/img_home_sash_logo.png"  alt="homelogo">

									<div class="sc-pocket-img">
										<img class="" src="images/img_home_pocket_money.png"  alt="homelogo">
									</div>
									</div>
								</div>
							   </div>

								<div class="sc-login-btn">
								<div class="row">
									<div class="col-md-4 animatedParent">
									<a href="https://sash.cash/user/#/register" target="_blank"><button type="submit" class="btn btn-skin1 sc-log-btn" id="sc-login"><span class="sc-login">Login</span></button></a>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-4 sc-icon1">
						<div class="sc-left-menu animatedParent">
							<img class="sc-img-icon6 animated bounceInUp slow" src="images/img_icon_6.png" alt="mobile">
							<img class="sc-img-icon5 animated  bounceInUp slower" src="images/img_icon_5.png" alt="mobile">
							<img class="sc-img-icon4 animated  bounceInUp slowest" src="images/img_icon_4.png" alt="mobile">
						</div>
					</div>
				</div>
			</div>


		<div class="container">
			<div class="row">
				<div class="col-md-12 sc-group-aiw animatedParent">
					<a href="https://play.google.com/store/apps/details?id=com.sashcash.user"target="_blank"><img src="images/img_play_store_icon.png" class="sc-googleplay" alt="google play store"></a>
					<a href="https://sash.cash/user/#/register" target="_blank"><img src="images/img_web_login.png" class="sc-googleplay" alt="web login"></a>
					<a href="https://itunes.apple.com/in/app/sash.cash/id1142168435?mt=8" target="_blank"><img src="images/img_app_store.png" class="sc-googleplay" alt="google app store"></a>
				</div>
			</div>
			</div>
		</div>
    </section>


	<div id="navigation">
		<nav class="navbar navbar-custom" role="navigation">
					<div class="col-md-10">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
								<i class="fa fa-bars"></i>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="menu">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#intro">Home</a></li>
								<li><a href="#about">How to Earn</a></li>
								<li><a href="#service">How to Spend</a></li>
								<li><a href="#contact">Contact Us</a></li>
							</ul>
						</div>
					</div>
		</nav>
	</div>



	<section id="about" class="home-section">
		<div class="sc-container">
			<div class="row">
				<div class="col-md-4 sc-main-img-div">

					<div class="sc-image-img">
						<img class="img1 img-responsive"  id="sc-iso1"  src="images/video_1%20copy.png" alt="videoads">
						<img class="img2 img-responsive"  id="sc-iso2" src="images/video_2%20copy.png" alt="videoads" style="bottom: 0px;">
						<img class="img3 img-responsive"  id="sc-iso3" src="images/video_3%20copy.png" alt="videoads" style="bottom: 0px;">
						<img class="img5 img-responsive"  id="sc-iso4" src="images/video_5.png" alt="videoads" style="bottom: 0px;">
					</div>

						<div class="col-md-12">
						<div class="sc-video-title">
						<h1 class="sc-video-ad"> Video Ad </h1>
						</div>
						</div>

					</div>

				<div class="col-md-4 sc-main-img-div">
					<div class="sc-image-img">
						<img class="img-responsive img1" src="images/img_poster_1.png" id="sc-iso1" alt="posterads">
						<img class="img-responsive sc-img-2" id="sc-iso2" src="images/img_poster_2%20copy.png" alt="posterads" style="bottom: 0px;">
						<img class="img-responsive sc-img-3" id="sc-iso3" src="images/img_poster_3%20copy.png" alt="posterads" style="bottom: 0px;">
						<img class="img-responsive sc-img-4" id="sc-iso4" src="images/img_poster_4%20copy.png" alt="posterads" style="bottom: 0px;">
					</div>

						<div class="col-md-12">
						<div class="sc-video-title">
						<h1 class="sc-poster-ad"> Poster Ad </h1>
						</div>
						</div>
					</div>

				<div class="col-md-4 sc-main-img-div">
					<div class="sc-image-img">
						<img id="sc-iso1" class="img-responsive sc-audio-img" src="images/img_audio_1%20copy.png" alt="audioads">
						<img id="sc-iso2" class="img-responsive sc-img-7" src="images/img_audio_2%20copy.png" alt="audioads" style="bottom: 0px;">
						<img id="sc-iso3" class="img-responsive sc-img-8"  src="images/img_audio_3%20copy.png" alt="audioads" style="bottom: 0px;">
						<img id="sc-iso4" class="img-responsive sc-img-9" src="images/img_audio_4%20copy.png" alt="audioads" style="bottom: 0px;">
					</div>
						<div class="col-md-12">
					<div class="sc-video-title">
						<h1 class="sc-audio-ad">Audio Ad</h1>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
        <div class="row">
            <div class="col-md-12">
				<div class="text-center">
					<p class="sc-video-txt">
						Visualization is a great way to interact with the consumer  in context of  understand, positioning and make them aware of the brand and brand value.
						Ad can be of any format, reaching to the audience is much important because they determine the supply and demand in the market.
					</p>
					<p class="sc-vap-content sc-video-txt">
						Earn by viewing  ads,  maximize your earn based on the time frame and resolution of the ad.
						We make user to watch without  skipping the ads. Reward money will added  to the Sash.Cash wallet after the completion of the ad.
					</p>
					<a class="sc-more d1">more...</a>
				</div>
            </div>
		</div>
		</div>

		<div class="container" style="padding-top: 150px;">

			<div class="row">
				<div class="col-md-6 sc-openlink-main-div">
					<div class="">
						<img id="sc-opnlink" alt="open link" src="images/img_open_link_1%20copy.png" class="sc-opnelink">
						<img id="sc-opnnl1" alt="open link" src="images/img_open_link_2%20copy.png" class="sc-openlink1">
						<img id="sc-opnnl2" alt="open link" src="images/img_open_link_3%20copy.png" class="sc-openlink2">
						<img id="sc-opnnl3" alt="open link" src="images/img_open_link_4%20copy.png" class="sc-openlink3">
					</div>
				</div>

				<div class="col-md-6">
					<div class="service-desc service-desc2">
						<h1 class="sc-open-link">Open Link</h1>
						<p class="sc-openlink-para">
							Open Links  comprises of page links which include shopping site, trendy site or campaign of new product which relate to lead generation.
							Viewers can earn by click and staying on the page for stipulated time frame.
						</p>
					</div>
				</div>
			</div>
		</div>


	</section>



    <section id="service" class="sc-how-to-earn-section">
		<!--<div class="container">-->

        <!--<div class="row">-->
			<!--<div class="col-md-6 sc-openlink-main-div">-->
				<!--<div class="">-->
					<!--<img id="sc-opnlink" alt="open link" src="images/img_open_link_1%20copy.png" class="sc-opnelink">-->
					<!--<img id="sc-opnnl1" alt="open link" src="images/img_open_link_2%20copy.png" class="sc-openlink1">-->
					<!--<img id="sc-opnnl2" alt="open link" src="images/img_open_link_3%20copy.png" class="sc-openlink2">-->
					<!--<img id="sc-opnnl3" alt="open link" src="images/img_open_link_4%20copy.png" class="sc-openlink3">-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="col-md-6">-->
					<!--<div class="service-desc service-desc2">-->
						<!--<h1 class="sc-open-link">Open Link</h1>-->
						<!--<p class="sc-openlink-para">-->
							<!--Open Links  comprises of page links which include shopping site, trendy site or campaign of new product which relate to lead generation.-->
							<!--Viewers can earn by click and staying on the page for stipulated time frame.-->
						<!--</p>-->
					<!--</div>-->
            <!--</div>-->
        <!--</div>-->
		<!--</div>-->

		<div class="container">
			<div class="row">
				<div class="col-md-6 animatedParent">
					<div class="service-desc service-desc1">
						<img src="images/img_home_sash_logo.png" alt="sashcash"/><span class="sc-wallet">Wallet</span>
						<p class="sc-wallet-para">
							Generally wallet saves all earning of the individual activities in Sash.Cash.
							It allow users to store and provide a convenient and quick method  to utilize the earnings for daily  mobile recharge or DTH recharge.
							It also allow the user to transfer the rewarded money from one user wallet to other wallet.
						</p>
						<!--<a href="#"><span class="sc-wallet-more"> more...</span></a>-->
					</div>
				</div>

				<div class="col-md-6 animatedParent">
					<div class="sc-recharge animated bounceInUp slower">
						<img class="img-responsive" src="images/img_wallet_how_to_recharge.png">
					</div>
				</div>
			</div>
			</div>
			<section id="dth" class="home-section inner-section sc-mr-dr-tr animatedParent">
				<div class="text-center">
					<div class="container">
						<div class="row animated bounceInUp slow">
							<div class="col-md-4">
								<img src="images/img_mobile_recharge.png" class="sc-mobildth-img">
								<div class="sc-mobile-recharge">
									<h1><span class="sc-mobile-recharge sc-recharge">Mobile Recharge</span></h1>
								</div>
							</div>

							<div class="col-md-4 animated bounceInUp slower">
								<img src="images/img_dth_recharge.png" class="sc-mobildth-img">
								<div class="sc-mobile-recharge">
									<h1><span class="sc-dth sc-recharge"> DTH Recharge </span></h1>
								</div>
							</div>
							<div class="col-md-4 animated bounceInUp slow">
								<img src="images/img_transfer.png" class="sc-mobildth-img">
								<div class="sc-mobile-recharge">
									<h1><span class="sc-transfer sc-recharge">Transfer</span></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


	</section>





	<section class="home-section sc-doted inner-section">
		<div class="text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="sc-ifyou-advet">Start Your Campaign Advertiser</h1>
						<img src="images/img_down_arrow.png" class="img-responsive sc-open-message">
					</div>
				</div>
			</div>
			<div style="padding: 40px"></div>
					<div class="container">
						<div class="row">
							<div class="container animatedParent">
								<div class="row">
									<div class="col-md-12">
							<div class="alert">
								<p>Get Start to Advertise</p>
							</div>
								</div>
								</div>
							</div>
							<div class="col-md-12">
								<a href="http://test.sash.cash:8000/#/login" target="_blank">
								<button type="submit" class="btn btn-skin1 btn-lg btn1" id="btnContactUs"> Sign Up</button>
								</a>
								<!--<span class="sc-login" data-toggle="tooltip" title="Get Start to Advertise"></span>-->
							</div>
						</div>
					</div>
			</div>
	</section>




	<section id="contact" class="home-section inner-section color-dark bg-gray text-center">
		<div class="sub_container_contact marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="animatedParent">
						<div class="section-heading text-center">
							<h2 class="h-bold">Contact Us</h2>
							<div class="divider-header"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="sub_container_contact">

			<div class="row">
				<div class="col-md-6">
					<div id="sendmessage">Your message has been sent. Thank you!</div>
					<div id="errormessage"></div>
					<form id="contact-form" action="" method="post" role="form" class="contactForm">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="name" class="form-control" id="phone" placeholder="Phone no" />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
									<div class="validation"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<select class="form-control" name="Subject" id="Subject" placeholder="Subject" >
										<option>General Enquiry </option>
										<option>Complaints</option>
										<option>Others</option>
									</select>
									<div class="validation"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="textarea" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
									<div class="validation"></div>
								</div>
								<button type="submit" class="btn sc-btn-skin btn-lg btn-block" id="btnContactUs">
									Send Message</button>
							</div>
						</div>
					</form>
				</div>

				<div class="col-md-6 contact_right">
					<div class="row">
						<div class="col-md-8 text-left">
							<h2 class="contact_right_title"><i class="fa fa-envelope" aria-hidden="true"></i> Email Us</h2>
							<ul>
								<!--<li><a href="">info@sash.cash</a> </li>-->
								<li><a href="mailto:support@sash.cash">support@sash.cash</a></li>
							</ul>

						</div>
					</div>
					<!--<hr>-->
					<!--<div class="row">-->
						<!--<div class="col-md-8 text-left">-->
							<!--<h2 class="contact_right_title"><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>-->
							<!--<ul>-->
								<!--<li>044 - 28333377</li>-->
							<!--</ul>-->

						<!--</div>-->
					<!--</div>-->
					<!--<div class="row">-->
						<!--<div class="col-md-8 text-left">-->
							<!--<h2 class="contact_right_title2"><i class="fa fa-clock-o" aria-hidden="true"></i> Timing</h2>-->
							<!--<ul>-->
								<!--<li>9 : 00 AM - 7 : 00 PM</li>-->
							<!--</ul>-->

						<!--</div>-->
					<!--</div>-->

				</div>
			</div>
		</div>
	</section>



	<footer>
		<div class="footer_container">
			<div class="row">

				<!--<div class="col-md-4 text-left footer_menu_list">-->
					<!--<ul class="footer-menu_one">-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#intro">Home</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#about">How to Earn</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#service">How to Spend</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#contact">Contact Us</a></li>-->
						<!--</div>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="col-md-3 text-left footer_menu_list">-->
					<!--<ul class="footer-menu_two">-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#">Careers</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#">News</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#">User</a></li>-->
						<!--</div>-->
						<!--<div class="animatedParent">-->
							<!--<li class=""><a href="#">Advertiser</a></li>-->
						<!--</div>-->
					<!--</ul>-->
				<!--</div>-->
				<div class="col-md-8 text-left footer_menu_list">
					<ul class="footer-menu_three">
							<li><a href="privacypolicy.html" target="_blank">Privacy Policy</a></li>
							<li><a href="terms&conditions.html" target="_blank">Terms & Conditions</a></li>
					</ul>
				</div>






				<div class="col-md-4 text-right copyright copy-right">
					<div class="animatedParent">
						<div class="col-md-12 copyright_img">
							<a href="https://play.google.com/store/apps/details?id=com.sashcash.user"target="_blank"><img src="images/img_play_store_icon.png" alt="google play store"></a>
							<a href="https://sash.cash/user/#/login" target="_blank"><img src="images/img_web_login.png" alt="web login"> </a>
							<a href="https://itunes.apple.com/in/app/sash.cash/id1142168435?mt=8" target="_blank"><img src="images/img_app_store.png" alt="app store"></a>
						</div>

					</div>

				</div>
			</div>
			<div class="col-md-12 social_media social_media_div">
				<div class="animatedParent">
					<div class="">
						<!--<span class="soci_title">Follow Us:</span>-->
						<span class="sici_icon"><a href="https://www.facebook.com/sashdigitaladvertisement/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
						<span class="sici_icon"><a href="https://twitter.com/sashdigitalads" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i></a></span>
						<span class="sici_icon"><a href="https://www.linkedin.com/company/sash.cash?trk=nav_account_sub_nav_company_admin" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
						<span class="sici_icon"><a href="https://in.pinterest.com/sashdigitalads" target="_blank"> <i class="fa fa-pinterest" aria-hidden="true"></i></a></span>
						<span class="sici_icon"><a href="https://plus.google.com/u/0/102435496296429860392" target="_blank"> <i class="fa fa-google-plus" aria-hidden="true"></i></a></span>
						<!--<span class="sici_icon"><a href="" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i></a></span>-->
					</div>

				</div>

			</div>
		</div>

			<div class="sc-user-footer">
				<div class="col-md-12 copy_right_bottom">
					<p>Copyrights &copy;  2017 Sash Digital Advertisement Private Limited. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>

    <script src="js/user_js/jquery.min.js"></script>
    <script src="js/user_js/bootstrap.min.js"></script>
	<script src="js/user_js/jquery.sticky.js"></script>
    <script src="js/user_js/jquery.easing.min.js"></script>
	<script src="js/user_js/jquery.scrollTo.js"></script>
	<script src="js/user_js/jquery.appear.js"></script>
	<script src="js/user_js/stellar.js"></script>
	<script src="js/user_js/nivo-lightbox.min.js"></script>
	<script src="js/user_js/custom.js"></script>
	<script src="js/user_js/css3-animate-it.js"></script>
   	<script src="js/user_js/sc-user.js"></script>
	<script src="js/user_js/sc-scroll.js"></script>
		<script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();

			$(".d1").click(function(){
				var txt = $(".sc-vap-content").is(':visible') ? 'more..' : 'less...';
				$(".d1").text(txt);
				$(".sc-vap-content").toggle(300);
			});

			});
	</script>
    
</body>
</html>
