.navbar-right
{
    float: none !important;
    margin: 0 auto;
    display: table;
    width: auto;
}
.navbar-nav .active a {
    color: #3dc9b3 !important;
    border-bottom: 2px solid #3dc9b3;
}

.color-dark .section-subtitle h4 {
    color: #111;
}
.section-subtitle h4 {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #777 !important;
}

.section-subtitle p
{
font-size:16px;
}

#about {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dffdfe+38,fcfbff+70,fcfbff+70,fcfbff+70,fcfbff+70,fcfbff+70,fcfbff+71,fcfbff+71,fcfbff+71 */
background: #dffdfe; /* Old browsers */
background: -moz-linear-gradient(top,  #dffdfe 38%, #fcfbff 70%, #fcfbff 70%, #fcfbff 70%, #fcfbff 70%, #fcfbff 70%, #fcfbff 71%, #fcfbff 71%, #fcfbff 71%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #dffdfe 38%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 71%,#fcfbff 71%,#fcfbff 71%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #dffdfe 38%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 70%,#fcfbff 71%,#fcfbff 71%,#fcfbff 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dffdfe', endColorstr='#fcfbff',GradientType=0 ); /* IE6-9 */


}
.navbar-nav .active a,.navbar-nav a:hover {
    color: #3dc9b3 !important;
    border-bottom: 2px solid #3dc9b3;
}

@import "compass/css3";


.block {
      float: left;
    width: 100%;
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}



/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 32px auto;
  width: 90px;
  height: 90px;
  border-radius: 9999px;
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(193, 97%, 47%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

#adv_user {
    padding: 0;
}

#adv_user .col-lg-6:nth-child(1) 
{
background:#f0f0f0;
}
#adv_user .col-lg-6:nth-child(2) 
{
background:#cbffcf;
}
section#about_us {
    padding: 0;
}





#adv_user .col-lg-6:nth-child(1):hover .sonar-emitter,#adv_user .col-lg-6:nth-child(1) .sonar-emitter
{
background:#00a8ff;
}

#adv_user .col-lg-6:nth-child(2):hover .sonar-emitter,#adv_user .col-lg-6:nth-child(2) .sonar-emitter
{
background:#0fbe9f;
}


#adv_user .col-lg-6:nth-child(1) h1 {
    margin: 0;
    float: left;
    width: 100%;
    line-height: 135px;
color:#00a8ff;
}


#adv_user .col-lg-6:nth-child(2) h1 {
    margin: 0;
    float: left;
    width: 100%;
    line-height: 135px;
color:#0fbe9f;
}



section#whysash {
    background: #fff;
    height: 890px;
    display: table;
    width: 100%;
    padding: 75px 0px !important;
}


/*footer ul {*/
    /*list-style: none;*/
/*}*/

footer .footer_container
{
margin:0 auto;
width:80%;
}
footer ul li a {
    color: #333;
    font-size: 20px;
    line-height: 35px;
}




section#contact button#btnContactUs {
    margin: 0 auto;
    width: 148px;
    background: #333;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 6px;
}

section#contact {
    background: url(../img/img_contact_us_bg.png)no-repeat;
    width: 100%;
    background-size: 100% 100%;
    background-position: top;
}
.footer-menu_one li:last-child a
{
    border: none!important;
}
footer ul li a {
    color: #999;
    font-size: 20px;
    line-height: 35px;
    font-size: 14px !important;
}

.copy_right_bottom {
    margin-top: 20px;
}
#intro img
{
width:100%;
}

.copyright img {
    float: right;
    width: 85px !IMPORTANT;
    margin: 0px 2.5px;;
}

.social_media {
    margin-top: 0;
    float: none;
    font-size: 22px;
    color: #333;
    margin: 0 auto;
    width:282px;
}
span.soci_title {
    float: left;
    line-height: 40px;
}
.social_media .sici_icon {
   width: 40px;
    height: 40px;
    background: #000;
    text-align: center;
    line-height: 45px;
    margin: 0px 8px;
    border-radius: 100%;
float:left;
}
.social_media .sici_icon a {
    color: #fff;
    width: 40px;
    height: 40px;
    float: left;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#about p {
    font-size: 24px;
    line-height: 34px;
    text-align: justify;
    text-indent: 80px;
}

#intro {
    /*background: url(../img/top_banner.jpg)no-repeat;*/
    width: 100%;
    background-size: 100%;
    background: #363636;

}

.why_banner
{
    /*background: url(../img/why.jpg)no-repeat;*/
    width: 100%;
    background-size: 100%;
}

.how_we_do
{
    /*background: url(../img/how.jpg)no-repeat;*/
    width: 100%;
    background-size: 100%;
}


div#about {
    padding: 65px 0px !important;
}

.about_us_map
{
    background: url(../img/img_map_bg.png)no-repeat;
    width: 100%;
    background-size: 100%;
    background-position: bottom;
}
.advertiser_map
{
    /*background: url(../img/img_advertiser_map_bg.png)no-repeat;*/
    width: 100%;
    background-size: 100%;
    background-position: top;
}
#adv_user .col-lg-6 {
    padding: 0;
}
.user_map
{
    /*background: url(../img/img_user_map_bg.png)no-repeat;*/
    width: 100%;
    background-size: 100%;
    background-position: top;
}


section#howwedo {
    background: #b16abf;
    background: -moz-linear-gradient(top, #b16abf 0%, #55419c 100%);
    background: -webkit-linear-gradient(top, #b16abf 0%,#55419c 100%);
    background: linear-gradient(to bottom, #b16abf 0%,#55419c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b16abf', endColorstr='#55419c',GradientType=0 );
    padding:100px 0px !important;
}
section#partners,#contact {
    padding:65px 0px !important;
}
.why_banner
{

    width: 100%;
    height: 726px;
    float: left;
}

.img_section1 {
    margin: 0 auto !IMPORTANT;
    width: 318px;
    float: none;
    position: relative;
    top: 339px;
    left: -12px;
}




.img_section3 {
   position: relative;
}

.img_section2 {
    position: relative;
margin-top: 149px;
}
.img_section5 {
    position: relative;
}
.img_section4 {
    position: relative;
    height: 794px;
}

img#banner2 {
    width: 396px;
    margin-top: 0px;
    margin-left: -2px;
}

img#banner3 {
    width: 460px;
    position: absolute;
    bottom: -34px;
    left: -15px;
}
img#banner7 {
    width: 749px;
    position: absolute;
    top: 25px;
    left: 9px;
}


img#banner4 {
    position: absolute;
    width: 92px;
    top: -122px;
    left: 197px;

}
img#banner5 {
    position: absolute;
    width: 128px;
    top: -54px;
    left: 56px;
 
}
img#banner6 {
    position: absolute;
    width: 138px;
    top: -67px;
    left: 273px;

   
}


img#banner8 {
    width: 152px;
    position: absolute;
    left: 94px;
    z-index: 9996;
    top: 60px;
}
img#banner9 {
    width: 156px;
    position: absolute;
    right: 446px;
    z-index: 9996;
    top: 55px;
}
img#banner10 {
width: 169px;
    position: absolute;
    right: 222px;
    z-index: 9996;
    top: 44px;
}


img#banner11 {
    width: 187px;
    position: absolute;
    right: 227px;
    top: 147px;
}


img#banner12 {
    width: 187px;
    position: absolute;
    bottom: 246px;
    left: 316px;
}

img#banner13 {
    width: 148px;
    position: absolute;
    left: -136px;
    top: 119px;
}
img#banner14 {
    width: 173px;
    position: absolute;
    left: -20px;
    top: -73px;
}
img#banner15 {
    width: 100px;
    position: absolute;
    left: 57px;
    top: -116px;
}
img#banner16 {
    width: 75px;
    position: absolute;
    left: 149px;
    top: -94px;
}
img#banner17 {
    width: 85px;
    position: absolute;
    right: 26px;
    top: -29px;
}
img#banner18 {
    width: 130px;
    position: absolute;
    right: -108px;
    top: -22px;
}
img#banner19 {
    width: 86px;
    position: absolute;
    left: -4px;
    bottom: -154px;
}

img#banner20 {
    width: 278px;
    position: absolute;
    bottom: -144px;
    left: 62px;
}

img#banner21 {
    width: 111px;
    position: absolute;
    left: 187px;
    bottom: 341px;
    -ms-transform: rotate(-42deg);
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
}

img#banner22 {
    width: 133px;
    position: absolute;
    left: 285px;
    top: 299px;
}

img#banner23 {
    width: 367px;
    position: absolute;
    right: 147px;
    top: 173px;
}

img#banner24 {
    width: 146px;
    position: absolute;
    right: 249px;
    top: 98px;
    z-index: 999;
}

img#banner25 {
    width: 147px;
    position: absolute;
    top: 136px;
    right: 162px;
}

img#banner26 {
    width: 93px;
    position: absolute;
    right: 331px;
    top: 139px;
}

img#banner27 {
    width: 53px;
    position: absolute;
    right: 333px;
    top: 77px;
}

img#banner28 {
    width: 50px;
    position: absolute;
    right: 203px;
    top: 39px;
}

img#banner29 {
    width: 132px;
    position: absolute;
    right: 102px;
    top: 67px;
}

img#banner30 {
    width: 136px;
    position: absolute;
    right: 311px;
    bottom: 237px;
}

img#banner31 {
    width: 50px;
    position: absolute;
    bottom: 269px;
    left: 423px;
    -ms-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}

img#banner32 {
    width: 198px;
    position: absolute;
    left: 248px;
    bottom: 148px;
}

img#banner33 {
    width: 36px;
    position: absolute;
    right: 261px;
    bottom: 206px;
}


img#banner34 {
    width: 248px;
    position: absolute;
    right: 150px;
    bottom: 79px;
}

img#banner35 {
    width: 70px;
    position: absolute;
    right: 270px;
    bottom: 336px;
}

img#banner36 {
    width: 188px;
    position: absolute;
    right: 84px;
    bottom: 323px;
}

img#banner37 {
    width: 460px;
    position: absolute;
    right: 241px;
    top: 186px;
}

img#banner38 {
    width: 199px;
    position: absolute;
    left: 243px;
    top: 92px;
}

img#banner39 {
    width: 144px;
    position: absolute;
    right: 138px;
    top: 48px;
    z-index: 9999;
}

img#banner40 {
    width: 114px;
    position: absolute;
    right: 242px;
    top: 88px;
}

.sub_container {
    margin: 0 auto;
    width: 80%;
}




.mobile_img_why.col-lg-4 {
    text-align: center;
    position: relative;
}




.mobile_img_why img {
    width: 274px;
    margin-top: 78px;
}

img#banner42 {
    position: absolute;
    right: 75px;
    top: 8px;
}

img#banner43 {
    position: absolute;
    left: 98px;
    top: 302px;
}

img#banner44 {
    position: absolute;
    right: 271px;
    top: 35px;
}

img#banner45 {
    position: absolute;
    right: 93px;
    top: 352px;
}

img#banner46 {
    position: absolute;
    top: 643px;
    right: 241px;
}

.mobile_img_why h2 {
    margin: 0;
}




h2#mobile_img_title1 {
    position: absolute;
    right: 69px;
    top: 196px;
    font-size: 34px;
    color: #3366ff ;
}

h2#mobile_img_title2 {
    position: absolute;
    right: 111px;
    top: 355px;
    font-size: 34px;
    color: #3366ff ;
}
h2#mobile_img_title3 {
    position: absolute;
    right: 78px;
    bottom: 139px;
    font-size: 34px;
    color: #3366ff ;
}
h2#mobile_img_title4 {
    position: absolute;
    right: -107px;
    bottom: -16px;
    font-size: 34px;
    color: #3366ff ;
}

h2#mobile_img_title5 {
    position: absolute;
    left: 12px;
    top: 196px;
    font-size: 34px;
    color: #3366ff ;
}

h2#mobile_img_title6 {
    position: absolute;
    left: 41px;
    top: 359px;
    font-size: 34px;
    color: #3366ff ;
}
h2#mobile_img_title7 {
    position: absolute;
    left: 12px;
    bottom: 139px;
    font-size: 34px;
    color: #3366ff ;
}

.why_banner .col-lg-4 {
    height: 726px;
}



img#why_border1 {
    position: absolute;
    left: -30px;
    width: 209px;
    top: 110px;
}


img#why_border2 {
    position: absolute;
    left: -43px;
    width: 220px;
    top: 277px;
}

img#why_border3 {
    position: absolute;
    left: -17px;
    width: 195px;
    bottom: 151px;
}

img#why_border4 {
    position: absolute;
    left: 50px;
    width: 130px;
    bottom: 63px;
}




img#why_border5 {
    position: absolute;
    left: -236px;
    width: 232px;
    top: 186px;
    z-index: -9;

}


img#why_border6 {
    position: absolute;
    left: -236px;
    width: 251px;
    top: 349px;
    z-index: -9;

}

img#why_border7 {
    position: absolute;
    left: -236px;
    width: 215px;
    bottom: 152px;
    z-index: -9;


}
img#howwe_icon1 {
    position: absolute;
    left: 153px;
    top: 409px;
    width: 127px;
    z-index: 9999;
}

img#howwe_icon2 {
    position: absolute;
    left: 345px;
    top: 166px;
    width: 127px;
    z-index: 9999;
}

img#howwe_icon3 {
    position: absolute;
    left: 616px;
    top: 63px;
    width: 127px;
    z-index: 9999;
}


img#howwe_icon4 {
    position: absolute;
    right: 820px;
    top: 18px;
    width: 127px;
    z-index: 9999;
}


img#howwe_icon5 {
    position: absolute;
    right: 545px;
    top: 71px;
    width: 127px;
    z-index: 9999;
}


img#howwe_icon6 {
    position: absolute;
    right: 325px;
    top: 196px;
    width: 127px;
    z-index: 9999;
}


img#howwe_icon7 {
    position: absolute;
    right: 152px;
    top: 408px;
    width: 127px;
    z-index: 9999;
}


img#howwe_icon9 {
    width: 1092px;
    position: absolute;
    bottom: 73px;
    left: 101px;
}

img#howwe_icon10 {
    width: 849px;
    position: absolute;
    bottom: 184px;
    left: 231px;
}
img#howwe_icon11 {
    position: absolute;
    left: 253px;
    bottom: 188px;
    width: 825px;
}


img#howwe_icon12 {
    position: absolute;
    bottom: 322px;
    left: 450px;
    width: 36px;
}


img#howwe_icon13 {
    position: absolute;
    bottom: 368px;
    left: 375px;
    width: 36px;
}


img#howwe_icon14 {
    position: absolute;
    bottom: 434px;
    left: 414px;
    width: 36px;
}


img#howwe_icon15 {
    position: absolute;
    bottom: 571px;
    left: 530px;
    width: 36px;
}

img#howwe_icon16 {
    position: absolute;
    bottom: 530px;
    left: 576px;
    width: 36px;
}

img#howwe_icon17 {
    position: absolute;
    bottom: 493px;
    width: 36px;
    right: 499px;
}

img#howwe_icon18 {
    position: absolute;
    bottom: 524px;
    right: 436px;
    width: 36px;
}

img#howwe_icon19 {
    position: absolute;
    bottom: 552px;
    right: 402px;
    width: 36px;
}

img#howwe_icon20 {
    position: absolute;
    bottom: 655px;
    right: 365px;
    width: 36px;
}

img#howwe_icon21 {
    position: absolute;
    bottom: 596px;
    right: 298px;
    width: 36px;
}

img#howwe_icon22 {
    position: absolute;
    bottom: 544px;
    right: 176px;
    width: 36px;
}
#contact h2 {
    color: #fff;
    margin-bottom: 6px;
}

#contact .divider-header {
    background: #fff;
}

h2.contact_right_title {
    color: #16f0a1 !important;
}

h2.contact_right_title2 {
    color: #eaac1b !important;
    font-size: 20px;
}
#contact-form textarea {
    height: 100px!important;
    width: 100%;
    padding: 15px;
}

#contact-form .form-control
{
    height: 48px!important;
}
#contact-form textarea
{
    height: 100px!important;
}
.contact_right hr {
    margin: 18px auto;
    width: 30%;
}
.how_mobile_div {
    width: 1208px;
    height: 1088px;
    position: relative;
    margin: 0 auto;
}
.contact_right .col-md-8 {
    float: right;
}

.contact_right ul{
    list-style: none;
}
.contact_right li,.contact_right li a{
    font-size: 26px;
    line-height: 40px;
    color: #B4B4B4;
    font-style: italic;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 250px !important;
    margin: 0 auto;
}


footer ul{

    list-style-type: none;

}
.footer-menu_one li {
    display: inline-block;

    line-height: 0px;
}

.footer-menu_one li a{
    border-right: 1px solid #8a8a8a;
    padding: 0px 4px;

}
#myCarousel .item {
    width: 214px !important;
    margin: 0 auto;
    height: 85px;
}

.copyright_img {
    height: 50px;
}



.how_we_do_container {
    margin: 0 auto;
    width: 1838px;
    position: relative;
    margin-top: -80px;
}
.why_banner_container {
    margin: 0 auto;
    width: 1838px;
    display: table;
}

img#howwe_icon1_line {
    position: absolute;
    left: 139px;
    top: 502px;
    width: 98px;
    -ms-transform: rotate(59deg);
    -webkit-transform: rotate(59deg);
    transform: rotate(59deg);
}


p#howwe_icon1_title {
    position: absolute;
    left: 203px;
    top: 545px;
    width: 98px;
    color: #fff;
    font-size: 30px;
}





img#howwe_icon2_line {
    position: absolute;
    left: 176px;
    top: 259px;
    width: 244px;
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}


p#howwe_icon2_title {
    position: absolute;
    left: 330px;
    top: 315px;
    width: 190px;
    color: #fff;
    font-size: 30px;
}




img#howwe_icon3_line {
    position: absolute;
    left: 402px;
    top: 49px;
    width: 279px;
    -ms-transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
}


p#howwe_icon3_title {
    position: absolute;
    left: 616px;
    top: 204px;
    width: 135px;
    color: #fff;
    font-size: 30px;
}


img#howwe_icon4_line {
    position: absolute;
    right: 890px;
    top: 56px;
    width: 246px;
    -ms-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
}


p#howwe_icon4_title {
    position: absolute;
    right: 762px;
    top: 169px;
    width: 224px;
    color: #fff;
    font-size: 30px;
}


img#howwe_icon5_line {
    position: absolute;
    right: 636px;
    top: 40px;
    width: 200px;
    -ms-transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
}


p#howwe_icon5_title {
    position: absolute;
    right: 555px;
    top: 216px;
    width: 127px;
    color: #fff;
    font-size: 30px;
}





img#howwe_icon6_line {
    position: absolute;
    right: 438px;
    top: 86px;
    width: 143px;
    -ms-transform: rotate(-28deg);
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
}


p#howwe_icon6_title {
    position: absolute;
    right: 319px;
    top: 324px;
    width: 127px;
    color: #fff;
    font-size: 30px;
}



img#howwe_icon7_line {
    position: absolute;
    right: 152px;
    top: 472px;
    width: 130px;
    -ms-transform: rotate(57deg);
    -webkit-transform: rotate(57deg);
    transform: rotate(57deg);
}


img#howwe_icon7a_line {
    position: absolute;
    right: 232px;
    top: 255px;
    width: 157px;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

p#howwe_icon7_title {
    position: absolute;
    right: 221px;
    top: 538px;
    width: 127px;
    color: #fff;
    font-size: 30px;
}

img#howwe_icon_line {
    position: absolute;
    left: 153px;
    top: 371px;
    width: 527px;
}

img#howwe_icon_line2 {
    position: absolute;
    right: 189px;
    bottom: 186px;
    width: 150px;
}


#howwe_icon_line_title {
    position: absolute;
    left: 153px;
    top: 371px;
    width: 527px;
    color: #fff;
    font-size: 30px;
}

#howwe_icon_line2_title {
    position: absolute;
    right: 72px;
    bottom: 186px;
    width: 150px;
    color: #fff;
    font-size: 30px;
}

p#campain_title .fa-upload {
    margin-right: 10px;
}

p#campain_title {
    position: absolute;
    left: 477px;
    color: #fff;
    font-size: 28px;
    width: 340px;
    padding: 10px;
    border: 3px dashed #fff;
    top: 528px;
}

#navigation {
    border-top:none!important;
}
#howwe_icon1_v {
    z-index: 9999;
    text-align: center;
    width: 17%;
    margin-top: 242px;
}
img#howwe_icon9,img#howwe_icon10,img#howwe_icon_line
{
    z-index: -9999;
}

#adv_user .row,#about .row{
    margin: 0px!important;
}
section#howwedo h2 {
    color: #fff;
}
section#howwedo .divider-header {
    background: #fff;
}

.copy_right_bottom a {
    font-size: 14px;
    color: #999;
}

.contact_right .col-md-8 {
    float: right;
    padding: 122px 0px;

}